---
import { Image } from "astro:assets";
import rejse1 from "../assets/images/rejse1.png";
import rejse2 from "../assets/images/rejse2.png";
import rejse3 from "../assets/images/rejse3.png";
import rejse4 from "../assets/images/rejse4.png";
import rejse5 from "../assets/images/rejse5.png";
---

<div class="bg-gray-50 py-12">
  <div class="text-center mb-8">
    <h2 class="text-[54px] px10 knewave">Highlights</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-2xl mx-auto">
    <!-- Billede 1 -->
    <div class="col-span-2 md:col-span-2">
      <Image
        src={rejse1}
        alt="Garden View" 
        class="rounded-lg shadow-md object-cover w-full h-full"
      />
    </div>
    
    <!-- Billede 2 -->
    <div class="col-span-2 md:col-span-1">
      <Image
        src={rejse4}
        alt="Beach View" 
        class="rounded-lg shadow-md object-cover w-full h-full"
      />
    </div>
    
    <!-- Billede 3 -->
    <div class="col-span-2 md:col-span-1">
      <Image
        src={rejse3}
        alt="Group at Castle" 
        class="rounded-lg shadow-md object-cover w-full h-full"
      />
    </div>
    
    <!-- Billede 4 -->
    <div class="col-span-2 md:col-span-1">
      <Image
        src={rejse5}
        alt="Skydiving" 
        class="rounded-lg shadow-md object-cover w-full h-full"/>
        
    </div>
        <!-- Billede 4 -->
        <div class="col-span-2 md:col-span-1">
          <Image
            src={rejse2}
            alt="Skydiving" 
            class="rounded-lg shadow-md object-cover w-full h-full"/>
            
        </div>
  </div>
</div>
